{% assign items_max = 0 %}
{% assign all_items = site.posts | concat: site.pages %}
{% assign all_taxonomies = all_items | map: 'tags' | compact | uniq %}
{% for item in all_taxonomies %}
  {% assign tag_count = all_items | where: 'tags', item | size %}
  {% if tag_count > items_max %}
    {% assign items_max = tag_count %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..items_max) reversed %}
    {% for tag in all_taxonomies %}
      {% assign tag_count = all_items | where: 'tags', tag | size %}
      {% if tag_count == i %}
        <li>
          <a href="#{{ tag | slugify }}">
            <strong>{{ tag }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..items_max) reversed %}
  {% for tag in all_taxonomies %}
    {% assign tag_count = all_items | where: 'tags', tag | size %}
    {% if tag_count == i %}
      <section id="{{ tag | slugify }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ tag }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in all_items %}
            {% if post.tags contains tag %}
              {% include archive-single.html type=entries_layout %}
            {% endif %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
